body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.1) ;
    width: 300px;
    text-align: center;

}
input{
 padding: 10px;
 margin: 10px 0;
 width: 80%;
 border-radius: 5px;
 border: 1px solid #ccc ;   
}

button{
    padding: 10px 15px;
    background-color: #6ac66d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: #3d703f;
}
#resultado{
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
